@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	background-color: #fff;
	color: #333;
}
.wrapper {
	margin: 2rem 1rem;
	overflow: hidden;
	padding: 0 2rem;
}
.cont1 {
	margin: 2rem 10rem;
	padding: 1rem;
}
.cont2 {
	margin: 2rem 10rem;
	padding: 1rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
